.enemyTable{
    margin: 10px auto ;
    border-spacing: 5px;
    background-color: #cb2418;
    width: 60%;
    max-width: 700px;
}
td{
    padding: 5px;
    color: #FFFFFF;
    background-color: #252525;
}
.center{
    padding: 5px;
    text-align: center;
}