.wrap{
    width: fit-content;
    margin: auto;

}
table{
    border-spacing: 0px;
}
.red_border{
    min-width: 10%;
    border-right: #cb2418 4px solid;
    border-bottom: #cb2418 2px solid;
    text-align: center;
    padding: 8px;
}
.button{
    padding-left: 5px;
    text-align: center;
}
