.myBtn{
    padding: 5px 10px;
    color: #cb2418;
    font-size: 1.5vh;
    background: transparent;
    border: 2px solid #cb2418;
    cursor: pointer;
    vertical-align: center;
}
.myBtnDis{
    padding: 5px 10px;
    color: rgba(0, 128, 128, 0.4);
    font-size: 1.5vh;
    background: transparent;
    border: 2px solid rgba(0, 128, 128, 0.4);
    cursor: pointer;
    vertical-align: center;
}